.confetti-container {
    animation: fadeOut 3s ease-in-out forwards;
}

.confetti {
    position: absolute;
    font-size: 2rem;
    animation: fall 3s ease-in-out forwards;
    opacity: 0;
}

.confetti:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.confetti:nth-child(2) {
    left: 30%;
    animation-delay: 0.2s;
}

.confetti:nth-child(3) {
    left: 50%;
    animation-delay: 0.4s;
}

.confetti:nth-child(4) {
    left: 70%;
    animation-delay: 0.6s;
}

.confetti:nth-child(5) {
    left: 90%;
    animation-delay: 0.8s;
}

@keyframes fall {
    0% {
        top: -10%;
        opacity: 1;
        transform: rotate(0deg);
    }

    100% {
        top: 100%;
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {

    0%,
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}